<h1>Books</h1>

<div *ngFor="let book of books$ | async">
  <h2>{{ book.title }}</h2>
  <h3>{{ book.author }}</h3>
  <button (click)="removeBook(book.id)">remove book</button>
</div>

<h2>Create a new book</h2>

<div>
  <input type="text" #bookId placeholder="Book Id" />
  <input type="text" #bookTitle placeholder="Book Title" />
  <input type="text" #bookAuthor placeholder="Book Author" />

  <button (click)="addBook(bookId.value, bookTitle.value, bookAuthor.value)">
    Add Book
  </button>
</div>
